@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", "Fira Code", Consolas, monospace;
  --font-sans: var(--font-mono);
}

html, body {
  @apply bg-white text-neutral-700 font-mono;
  -webkit-font-smoothing: antialiased;
}
